/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .anggota-f14 {
    width: 50%;
    margin-bottom: 50px;
  }

  .main h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
   .contact-btn {
    width: 40%;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 700px) {
  .anggota-f14 {
    width: 100%;
  }

  footer {
    text-align: center;
  }

  .main {
    text-align: left;
  }

  /* Tambahkan CSS untuk header-right */
  .header-right {
    display: none;
  }

  /* Tambahkan CSS untuk menu-icon */
  .menu-icon {
    display: block !important;
  }

  .main h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .main p {
    font-size: 14px;
    line-height: 20px;
  }

  .contact-form {
    padding-top: 20px;
    flex: auto;
  }

  input, textarea {
    margin-bottom: 12px;
    padding:7px;
    font-size:14px;
  }
   footer p {
    font-size:12px;
  }
}
