/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .main h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .lesson {
    width: 100%;
  }

  footer {
    text-align: center;
  }

  .main {
    text-align: left;
  }

  /* Tambahkan CSS untuk header-right */
  .header-right {
    display: none;
  }

  /* Tambahkan CSS untuk menu-icon */
  .menu-icon {
    display: block;
  }

  .main h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .main p {
    font-size: 14px;
    line-height: 20px;
  }
}
