* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Century Gothic";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
/* CSS Header */
header {
  height: 65px;
  width: 100%;
  background-color: rgba(17, 16, 30, 1);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 200px;
  margin-top: -40px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none !important;
}

/* CSS Main */
.main {
  padding: 100px 0 100px 0;
  background-image: url(images/bgmain.jpg);
  background-size: cover;
  color: white;
}

.main h1 {
  opacity: 0.7;
  font-size: 40px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.main h2{
  text-align: center;
}

.main p {
  text-align: justify;
  padding: 15px;

}

.btn-main {
  text-align: right;
  margin: 20px 0;
}

.btn-main p {
  margin: 10px 0;
}

.kelompok {
  background-color: #239b76;
}

.kominfo {
  background-color: #3b5998;
}

.progate {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

/*  Bagian Extra_1 */
.daftar-anggota {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.anggota-f14 {
  float: left;
  width: 20%;
}

.foto-anggota {
  position: relative;
}

.foto {
  width:150px;
  height:120px;
  border-radius: 70px;

}

.foto:hover{
  transform: scale(1.1);
}

img {
  vertical-align: middle;
}

.foto-anggota p {
  width: 100%;
  color: #000;
  margin-top: 15px;
  font-weight: bold;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
  text-align:center;
}

/*  Bagian Extra_2 */
.message-wrapper{
  background-color:rgba(44, 62, 80,1.0);
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;

}
.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

input , textarea {
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  font-size: 16px;
  border: 1px solid #dee7ec;
}

.contact-btn {
  width: 30%;
  background-color: rgba(52, 152, 219,1.0);
  border: 1;
  border-radius: 20px;
  padding: 10px 10px;
  color: #fff;
  transition: 0.5s;
  box-shadow: 0 7px rgba(52, 73, 94,1.0);
}

.contact-btn:hover {
  cursor: pointer;
}

.contact-btn:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}


/* CSS Footer  */

footer p {
  color: #b3aeb5;
  font-size: 12px;
  text-align: center;
}

footer {
  background-color: rgba(17, 16, 30, 1);
  padding-top: 30px;
  padding-bottom: 20px;
}
