* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
/* CSS Header */
header {
  height: 65px;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.9); */
  background-color: rgba(17, 16, 30, 1);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 200px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.menu-icon {
  color: black;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none !important;
}

/* CSS Main */
.main {
  padding: 100px 0 100px 0;
  background-image: url(BG1.jpg);
  background-size: cover;
  color: white;
}

.main h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.main h2{
  text-align: center;
}

.main p {
  text-align: justify;
  padding: 15px;

}

.btn-main {
  text-align: right;
  margin: 20px 0;
}

.btn-main p {
  margin: 10px 0;
}

.kelompok {
  background-color: #239b76;
}

.kominfo {
  background-color: #3b5998;
}

.progate {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

/*  Bagian Extra_1 */
.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

/* Tambahkan CSS untuk tags <input> dan <textarea> */
input , textarea {
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

/* CSS Footer  */
footer img {
  width: 125px;
}

footer p {
  color: white;
  font-size: 12px;
}

footer {
  background-color: #11101e;
  padding-top: 30px;
  padding-bottom: 20px;
}
